.modalFormSection{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #64CCC5bd;
    display:grid;
    color: #0e0e0e; 
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease-in;
}

.modalFormSection.active{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .4s ease-in;
}

.modalInformation{
    width: 30vw;
}

.modalImage{
    width: 30vw;
    max-width: 600px;
}

.modalTitle{
    width: 75%;
    display: grid;
    grid-template-areas: 
    'formTitle exitButton'
    ;
}
.exitButton{
    border-radius: 0 ;
    align-self: start;
    justify-self: end;
    /* margin: 1vh 0 1.2vh 4vw;
    padding-left: 4vh; */
    height: 40px;
    border: none;
    background-color: #DAFFFB;
    font-size: 20px;
    cursor: pointer;
}

.exitButton:hover{
    background-color: #6ffaec;
}


.formTitle{
    align-self: start;
    justify-self: start;
    /* margin: 2vh 5vh 2vh 0; */
    font-family: 'Kanit';
    color: #333;
    font-size: 1.5vw;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke: 10% black;
}

.modalFormContainer{
    margin: auto;
    width: 90%;
    max-width: 60vw;
    max-height: 90%;
    background-color: #DAFFFB;
    border-radius: 6px;
    /* padding: 4vh 4vh; */
    /* display: grid; */
    gap: 1vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: '.modalImage .modalInformation ';
}

.inputContainer{
    background-color: aqua;
    border-radius: 10px;
    margin: 1vh;
    padding: 1vh .5vh;
    width: 70%;
    display:grid;
}

.textBox{
    font-size: 10px;
}

.Form{
    padding: 1vw;
    background-color: aliceblue;
}
.listSelect{
    width: 300px;
    height: 150px;
}