.LandingPage {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
 .LandingHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  backdrop-filter: blur(10px);
}
 .LandingTitle {
  background: linear-gradient(to right, #9500ff, #09f, #00ddff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: white; */
  font-family: 'kanit';
  margin: 2vh 0;
  font-size: 10vw;
  text-align: center;
  transition: font-size 0.4s;
}

/* .LandingTitle:hover{
  font-size: 1vw;
  transition: font-size 0.4s;
} */
 .LandingHeader:hover {
  background-color: transparent;
}
 .LandingAbout {
  color: white;
  padding: 0px;
  text-align: center;
  
}
 .LandingSubtitle {
  border-radius: 10px;
  padding: 1vw;
  font-size: 24px;
  backdrop-filter: blur(10px);
  display: inline-block;
  
}
 .LandingParagraph {
  border-radius: 10px;
  margin: 0 9vw;
  padding: 1vh 1vw;
  font-size: 3vh;
  text-align: justify;
  display: inline-block;
  backdrop-filter: blur(10px);
}
 .LandingStart {
  border: 0;
  background-image: linear-gradient(
    150deg,
    #9500ff,
    #09f,
    #00ddff);
    border-radius: 8px;
    color: white;
    /* display:flex; */
    font-size: 5vh;
    padding: 2.3vh 0.75vh;
    cursor: pointer;
    transition: .3s;
  }
  .LandingButton{
    border-radius: 8px;
    background-color: #111;
    padding: 1.5vh 3vh;
    transition: .3s;
  }
  .LandingButton:hover{
    background: none;
  }
 /* .LandingStart:hover {
  background-color: #990000;
} */